#use this instead
#https://docs.ansible.com/ansible/ec2_remote_facts_module.html

aws_key_id: xxx
aws_key_secret: xxx
aws_image: ami-xxxxx
aws_instance_type: t2.xlarge
aws_security_group: sg-xxxxxx
aws_region: us-west-2

hadoop_cluster_name: cluster0045
hadoop_worker_count: 2

environment_type: PRODUCTION

setup_delay: 200